<?xml version="1.0" encoding="utf-8"?>
<UserModule xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" Guid="09ae6b0f-5e8c-4376-82dc-f11801f27783" DisplayName="Protection Paladin">
  <Description>Module for Protection Paladin</Description>
  <Version>0.0.1</Version>
  <ModuleTargets>Character</ModuleTargets>
  <ModuleGenres>MMORPG</ModuleGenres>
  <Games>
    <guid>6d647be5-7cfa-41e1-b5dd-a04c45c1eef9</guid>
  </Games>
  <Procedure Guid="1f4bc2a1-f972-48d0-b971-c074530e918c" DisplayName="DPS Rotation">
    <ParameterDefinitions />
    <OnPress>
      <Instruction Code="Switch">
        <Parameter Value="[[CurrentStep]]" />
        <Children />
        <Branches>
          <Branch Value="1">
            <Children>
              <Instruction Code="Button" Target="self">
                <Parameter Value="PressAndRelease" />
                <Parameter Value="5" />
                <Children />
                <Branches />
              </Instruction>
              <Instruction Code="Button" Target="self">
                <Parameter Value="PressAndRelease" />
                <Parameter Value="2" />
                <Children />
                <Branches />
              </Instruction>
              <Instruction Code="Button" Target="self">
                <Parameter Value="PressAndRelease" />
                <Parameter Value="1" />
                <Children />
                <Branches />
              </Instruction>
              <Instruction Code="Button" Target="self">
                <Parameter Value="PressAndRelease" />
                <Parameter Value="8" />
                <Children />
                <Branches />
              </Instruction>
            </Children>
          </Branch>
          <Branch Value="2">
            <Children>
              <Instruction Code="Button" Target="self">
                <Parameter Value="PressAndRelease" />
                <Parameter Value="2" />
                <Children />
                <Branches />
              </Instruction>
              <Instruction Code="Button" Target="self">
                <Parameter Value="PressAndRelease" />
                <Parameter Value="9" />
                <Children />
                <Branches />
              </Instruction>
            </Children>
          </Branch>
          <Branch Value="3">
            <Children>
              <Instruction Code="Button" Target="self">
                <Parameter Value="PressAndRelease" />
                <Parameter Value="6" />
                <Children />
                <Branches />
              </Instruction>
              <Instruction Code="Button" Target="self">
                <Parameter Value="PressAndRelease" />
                <Parameter Value="4" />
                <Children />
                <Branches />
              </Instruction>
              <Instruction Code="Button" Target="self">
                <Parameter Value="PressAndRelease" />
                <Parameter Value="8" />
                <Children />
                <Branches />
              </Instruction>
            </Children>
          </Branch>
        </Branches>
      </Instruction>
    </OnPress>
    <OnRelease />
    <StepCounter>
      <Steps>
        <Step />
        <Step />
        <Step />
      </Steps>
    </StepCounter>
  </Procedure>
  <Procedure Guid="8c90e300-9945-4ace-9e71-8822780d9052" DisplayName="AOE DPS Rotation">
    <ParameterDefinitions />
    <OnPress>
      <Instruction Code="Switch">
        <Parameter Value="[[CurrentStep]]" />
        <Children />
        <Branches>
          <Branch Value="1">
            <Children>
              <Instruction Code="Button" Target="self">
                <Parameter Value="PressAndRelease" />
                <Parameter Value="5" />
                <Children />
                <Branches />
              </Instruction>
              <Instruction Code="Button" Target="self">
                <Parameter Value="PressAndRelease" />
                <Parameter Value="2" />
                <Children />
                <Branches />
              </Instruction>
              <Instruction Code="Button" Target="self">
                <Parameter Value="PressAndRelease" />
                <Parameter Value="1" />
                <Children />
                <Branches />
              </Instruction>
              <Instruction Code="Button" Target="self">
                <Parameter Value="PressAndRelease" />
                <Parameter Value="8" />
                <Children />
                <Branches />
              </Instruction>
            </Children>
          </Branch>
          <Branch Value="2">
            <Children>
              <Instruction Code="Button" Target="self">
                <Parameter Value="PressAndRelease" />
                <Parameter Value="2" />
                <Children />
                <Branches />
              </Instruction>
              <Instruction Code="Button" Target="self">
                <Parameter Value="PressAndRelease" />
                <Parameter Value="9" />
                <Children />
                <Branches />
              </Instruction>
            </Children>
          </Branch>
          <Branch Value="3">
            <Children>
              <Instruction Code="Button" Target="self">
                <Parameter Value="PressAndRelease" />
                <Parameter Value="6" />
                <Children />
                <Branches />
              </Instruction>
              <Instruction Code="Button" Target="self">
                <Parameter Value="PressAndRelease" />
                <Parameter Value="4" />
                <Children />
                <Branches />
              </Instruction>
              <Instruction Code="Button" Target="self">
                <Parameter Value="PressAndRelease" />
                <Parameter Value="8" />
                <Children />
                <Branches />
              </Instruction>
            </Children>
          </Branch>
        </Branches>
      </Instruction>
    </OnPress>
    <OnRelease />
    <StepCounter>
      <Steps>
        <Step />
        <Step />
        <Step />
      </Steps>
    </StepCounter>
  </Procedure>
  <Procedure Guid="ad056388-4f45-4d6f-9678-2bc95fc4ac33" DisplayName="Taunt">
    <ParameterDefinitions />
    <OnPress>
      <Instruction Code="Button" Target="self">
        <Parameter Value="PressAndRelease" />
        <Parameter Value="T" />
        <Children />
        <Branches />
      </Instruction>
    </OnPress>
    <OnRelease />
    <StepCounter>
      <Steps />
    </StepCounter>
  </Procedure>
  <Procedure Guid="2aa1372d-aeab-4683-9fc1-e75424b36e79" DisplayName="Cooldowns">
    <ParameterDefinitions />
    <OnPress>
      <Instruction Code="Button" Target="self">
        <Parameter Value="PressAndRelease" />
        <Parameter Value="Shift+1" />
        <Children />
        <Branches />
      </Instruction>
    </OnPress>
    <OnRelease />
    <StepCounter>
      <Steps />
    </StepCounter>
  </Procedure>
  <Procedure Guid="c6cc210f-4636-4c8d-84d6-daffa25161f3" DisplayName="Interrupt">
    <ParameterDefinitions />
    <OnPress>
      <Instruction Code="Button" Target="self">
        <Parameter Value="PressAndRelease" />
        <Parameter Value="S" />
        <Children />
        <Branches />
      </Instruction>
    </OnPress>
    <OnRelease />
    <StepCounter>
      <Steps />
    </StepCounter>
  </Procedure>
  <Procedure Guid="bf72efbc-032e-4df8-ab60-12d13988a4ed" DisplayName="Panic (NYI)">
    <ParameterDefinitions />
    <OnPress />
    <OnRelease />
    <StepCounter>
      <Steps />
    </StepCounter>
  </Procedure>
  <Procedure Guid="67f2e6cc-8fcf-4d65-bb2b-bc3041dbb850" DisplayName="Ground AOE (NYI)">
    <ParameterDefinitions />
    <OnPress />
    <OnRelease />
    <StepCounter>
      <Steps />
    </StepCounter>
  </Procedure>
  <Procedure Guid="26ea7973-d5d6-4faf-955a-8761d8ac53a5" DisplayName="Pull (NYI)">
    <ParameterDefinitions />
    <OnPress />
    <OnRelease />
    <StepCounter>
      <Steps />
    </StepCounter>
  </Procedure>
  <Procedure Guid="1d0ed80f-d071-49cd-9cbe-67c1d583748c" DisplayName="Buffs">
    <ParameterDefinitions />
    <OnPress>
      <Instruction Code="Button" Target="self">
        <Parameter Value="PressAndRelease" />
        <Parameter Value="F2" />
        <Children />
        <Branches />
      </Instruction>
    </OnPress>
    <OnRelease />
    <StepCounter>
      <Steps />
    </StepCounter>
  </Procedure>
  <Procedure Guid="0f1d62c6-3876-4803-ab0c-cba59e3174de" DisplayName="Activate Proc (NYI)">
    <ParameterDefinitions />
    <OnPress />
    <OnRelease />
    <StepCounter>
      <Steps />
    </StepCounter>
  </Procedure>
  <Procedure Guid="5228bd8e-c8a0-4eff-b0f1-f2df054dd37f" DisplayName="PVP DPS Rotation (NYI)">
    <ParameterDefinitions />
    <OnPress />
    <OnRelease />
    <StepCounter>
      <Steps />
    </StepCounter>
  </Procedure>
  <Procedure Guid="ac5089e7-2e52-4e81-a415-99bc5b30a296" DisplayName="PVP AOE DPS Rotation (NYI)">
    <ParameterDefinitions />
    <OnPress />
    <OnRelease />
    <StepCounter>
      <Steps />
    </StepCounter>
  </Procedure>
  <Procedure Guid="fa38fb23-fbb0-4ddc-99fb-fa13e3bd600e" DisplayName="Stun">
    <ParameterDefinitions />
    <OnPress>
      <Instruction Code="Button" Target="self">
        <Parameter Value="PressAndRelease" />
        <Parameter Value="Alt+1" />
        <Children />
        <Branches />
      </Instruction>
    </OnPress>
    <OnRelease />
    <StepCounter>
      <Steps />
    </StepCounter>
  </Procedure>
  <Parent>00000000-0000-0000-0000-000000000000</Parent>
  <AuthorName>Svpernova09</AuthorName>
  <AuthorEmail>halo09@gmail.com</AuthorEmail>
  <AuthorBitcoinAddress>1EgqrwWyeSkRvKoozGWcZb1ymTD3K9kPep</AuthorBitcoinAddress>
  <AuthorPayPalEmail>ha09lo@hotmail.com</AuthorPayPalEmail>
</UserModule>